@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9751 0.0022 286.36);
  --foreground: oklch(0.2344 0.0035 286.13);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2344 0.0035 286.13);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2344 0.0035 286.13);

  --primary: oklch(0.5604 0.1989 257);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.9751 0.0022 286.36);
  --secondary-foreground: oklch(0.5364 0.0104 286.04);

  --muted: oklch(0.9512 0.0033 286.34);
  --muted-foreground: oklch(0.5364 0.0104 286.04);

  --accent: oklch(0.9349 0.0044 286.31);
  --accent-foreground: oklch(0.2344 0.0035 286.13);

  --destructive: oklch(0.6356 0.2082 25.38);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.9079 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.5604 0.1989 257);
  --radius: 1.125rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Text", "SF Pro Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}
